{% extends 'dashboard_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
          <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 "> -->
          <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"> -->

            <!-- <h1 class="h2">Dashboard</h1> -->
            
            <!-- <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div> -->
          <!-- </div> -->

          <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->

          
          <h1>Welcome, {{user}}!</h1>

          <hr>
          <span class="float-left"><h2> <i class="fa fa-file-text-o"> </i>  Manage models for <b>NER (Named Entity Recognition)</b></h2></span>
          <!-- <span class="float-right"><a href="" class="btn btn-primary">Upload new NER model...</a></span> -->

          <div>
          <div class="table-responsive mt-3">
            <table class="table table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Select to use</th>
                  <th>Model name</th>
                  <th>Uploaded at</th>
                  <th>Performance (if available)</th>
                  <th>Model architecture</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success">
                  <td>1</td>
                  <td> <i class="fa fa-check"> </i> Selected</td>
                  <td>Model 1 test</td>
                  <td>12/02/20</td>
                  <td>-</td>
                  <td>
                    <a href="" class="btn btn-secondary">
                        <i class="fa fa-upload"></i> Upload
                    </a>
                    <a href="" class="btn btn-secondary">
                        <i class="fa fa-eye"></i> View
                    </a>
                  </td>
                  <td>
                    <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                      Delete</a>
                  </td>
                </tr>
                  <td>2</td>
                  <td><a href="" class="btn btn-outline-danger">Select</a></td>
                  <td>Model 2 test</td>
                  <td>12/02/20</td>
                  <td>89%</td>
                  <td>
                    <a href="" class="btn btn-info">
                        <i class="fa fa-upload"></i> Upload
                    </a>
                    <a href="" class="btn btn-info">
                        <i class="fa fa-eye"></i> View
                    </a>
                  </td>
                  <td>
                    <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                      Delete</a>
                  </td>
                  </tr>
              </tbody>
            </table>
            <a href="" class="btn btn-info"><i class="fa fa-plus"> </i> Upload new NER model...</a>
            </div>

            <hr>

            <div class="mt-4">
            <span class="float-left"><h2> <i class="fa fa-image"> </i>  Manage models for <b>Image features</b></h2></span>
            <!-- <span class="float-right"><a href="" class="btn btn-primary">Upload new Image model...</a></span> -->
  
  
            <div class="table-responsive mt-3">
              <table class="table table table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Select to use</th>
                    <th>Model name</th>
                    <th>Uploaded at</th>
                    <th>Performance (if available)</th>
                    <th>Model architecture</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><a href="" class="btn btn-outline-danger">Select</a></td>
                    <td>Model 1 test</td>
                    <td>12/02/20</td>
                    <td>-</td>
                    <td>
                        <a href="" class="btn btn-info">
                            <i class="fa fa-upload"></i> Upload
                        </a>
                        <a href="" class="btn btn-info">
                            <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                      <td>
                          <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                        Delete</a>
                      </td>  
                  </tr>
                  <tr class="table-success">
                    <td>2</td>
                    <td> <i class="fa fa-check"> </i> Selected</td>
                    <td>Model 2 test</td>
                    <td>12/02/20</td>
                    <td>89%</td>
                    <td>
                        <a href="" class="btn btn-secondary">
                            <i class="fa fa-upload"></i> Upload
                        </a>
                        <a href="" class="btn btn-secondary">
                            <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                      <td>
                        <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                          Delete</a>
                      </td>
                  </tr>
                  </tr>
                    <td>2</td>
                    <td><a href="" class="btn btn-outline-danger">Select</a></td>
                    <td>Model 3 test</td>
                    <td>12/02/20</td>
                    <td>82%</td>
                    <td>
                        <a href="" class="btn btn-info">
                            <i class="fa fa-upload"></i> Upload
                        </a>
                        <a href="" class="btn btn-info">
                            <i class="fa fa-eye"></i> View
                        </a>
                      </td>
                      <td>
                        <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                          Delete</a>
                      </td>
                  </tr>

            </tbody>
              </table>
              <a href="" class="btn btn-info"><i class="fa fa-plus"> </i> Upload new Image model...</a>
            </div>
  
          </div>
        {% endblock %}