{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block styles%}
<style>
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
</style>
{% endblock %}

{% block body %}

<h1 class="ui header text-center">Named Entity Recognition demo</h1>

<form>
    <div class="row">
        <div class="col-lg-6 mx-auto text-center">

            <!-- Uploaded image area-->
            <!-- <p class="font-italic text-center">The image uploaded will be rendered inside the box below.</p> -->
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>

            <div class="form-group">
                <label for="post_text" class="label">Text of the post:</label>
                <textarea name="post_text" id="post_text" rows="5" class="form-control"></textarea>
            </div>
       
            <button type="submit" class="btn btn-success ">Submit</button>
        </div>
    </div>

</form>

{% endblock %}