{% extends 'base.html' %}

{% block title %}SimilarityRecommender Home{% endblock %}

{% block body %}

<div class="text-center mx-auto my-auto container-fluid mt-5 mb-5 pt-5 pb-5">
    <h1 class="ui header pb-2">Login to Dashboard</h1>

    <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
            <form action="/login" class="form" method="POST">
                <div class="input-group p-3">
                    <label for="username" class="label"> Username: &nbsp;</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="input-group p-3">
                    <label for="password"> Password: &nbsp; </label>
                    <input type="password" class="form-control" name="password">
                </div>
        
                <button type="submit" class="btn btn-primary">Login </button>
            </form>
        
        </div>
    </div>
    
</div>

{% endblock %}
